<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title> {{reservation.excursionDTO.locationDTO.name}}</mat-card-title>
    <mat-card-subtitle>{{reservation.excursionDTO.locationDTO.description}}</mat-card-subtitle>
    <mat-card-subtitle>{{reservation.excursionDTO.date}}</mat-card-subtitle>
    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <p> {{reservation.excursionDTO.tourGuideName}} </p>
    <!-- <button class="right" color="primary" mat-raised-button
                    type="submit">Make reservation</button> -->

    <button (click)="cancelReservation()" class="right" color="accent" mat-raised-button
                    type="submit"> Cancel </button>
  </mat-card-content>
</mat-card>
