<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <h2>
        BLACE COMPANY LIMITED
      </h2>
    </mat-card-header>

    <mat-card-content>

      <mat-tab-group>
        <mat-tab label="Login">
          <!-- <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p> -->
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Username:</mat-label>
              <input formControlName="username" matInput placeholder="username" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password:</mat-label>
              <input formControlName="password" type="password" matInput required placeholder="password">
            </mat-form-field>
            <!-- <button mat-raised-button color="primary">Login</button> -->
            <button [disabled]="!loginForm.form.valid" color="primary" mat-raised-button
                    type="submit">Login</button>
        </form>
        </mat-tab>

        <mat-tab label="Register">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Company (disabled)</mat-label>
            <input matInput disabled value="Google">
          </mat-form-field>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Long Last Name That Will Be Truncated</mat-label>
              <input matInput>
            </mat-form-field></td>
          </tr></table>

          <p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Address 2</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. San Francisco">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. California">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            </mat-form-field></td>
          </tr></table>
          <button mat-raised-button color="primary">Register</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
