<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title> {{comment.clientName}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p> {{comment.text}} </p>
    <p> Likes: {{comment.likeCount}} </p>
    <!-- <button class="right" color="primary" mat-raised-button
                    type="submit">Make reservation</button>
    <button class="right" color="accent" mat-raised-button
                    type="submit">Comments</button> -->
  </mat-card-content>
</mat-card>
