<mat-card class="card">
  <p>Location: </p>
  <mat-divider></mat-divider>
  <mat-selection-list [(ngModel)]="selectedLocation" [multiple]="false">
    <mat-list-option *ngFor="let location of locations" [value]="location.id">
      {{location.name}}
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>
  <!-- <p>
    Option selected: {{loc.selectedOptions.selected[0]?.value.name}}
  </p> -->

  <mat-card class="inline-calendar-card">
    <mat-calendar [(selected)]="date"></mat-calendar>
  </mat-card>
  <!-- <p>Selected date: {{selected}}</p> -->
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label class="margin" >Numbe of persons:</mat-label>
    <input  [(ngModel)]="numOfPersons" matInput >
    <mat-divider></mat-divider>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
  <mat-label class="margin" >Price:</mat-label>
    <input  [(ngModel)]="price" matInput >
  </mat-form-field>
  <mat-divider></mat-divider>
  <p *ngIf="notification" id='error' [class]="notification.msgType">{{notification.msgBody}}</p>
  <button class="margin" color="primary" (click)="createExcursion()" mat-raised-button >Create excursion</button>
</mat-card>
