.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.small-card{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #595959
}

button {
  margin-right: 2%;
}

.inline-calendar-card {
  width: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #595959
}

.margin{
  margin-top: 5%;
  margin-bottom: 5%;
}
